.imageupload {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.imageupload__progress {
  width: 100%;
  margin-bottom: 5px;
}

.imageupload__caption {
  border: 0;
  max-width: 100%;
  margin-bottom: 5px;
}

.imageupload__file {
  background-color: transparent;
}
