.post {
  margin: auto;
  background-color: white;
  max-width: 600px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
}

.post__header {
  padding: 10px;
  display: flex;
  align-items: center;
}

.post__avatar {
  flex: 1;
  display: flex;
  align-items: center;
}

.post__moreOptions {
  flex: 0;
}

.post__avatarImg {
  margin-right: 10px;
}

.post__text {
  padding-left: 10px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  color: #6082a3;
  background-color: transparent;
  border: none;
  border-top: 1px solid lightgray;
}

.post__comments {
  padding-left: 10px;
  padding-right: 10px;
}

.post__loadMore {
  border: 0;
  background-color: transparent;
  color: #6082a3;
}

.post__likes {
  display: flex;
  margin: 10px;
  font-size: small;
  align-items: center;
}

.post__likeButton {
  border: 0px;
  background-color: transparent;
}

.post__caption {
  margin-bottom: 10px;
}

.post__deleteButton {
  border: 0px;
  background-color: transparent;
}
.post__usernameButton {
  background-color: transparent;
  border: 0px;
  font-size: larger;
  font-weight: bold;
  padding: 0px;
}
